/* Page transitions */
.page-enter-active,
.page-leave-active {
    transition: opacity 150ms;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

/* Carousel transitions */
.carousel-enter-active,
.carousel-leave-active {
    transition: opacity 1s, transform 1s;
}

.carousel-enter-from,
.carousel-leave-to {
    opacity: 0;
    transform: translateX(0);
}

/* Slide transition */
.slide-enter-active,
.slide-leave-active {
    transition: transform 1s, opacity 1s;
}
.slide-enter-from {
    transform: translateX(100%);
    opacity: 0;
}
.slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

/* Slide back transition */
.slideback-enter-active,
.slideback-leave-active {
    transition: transform 1s, opacity 1s;
}
.slideback-enter-from {
    transform: translateX(-100%);
    opacity: 0;
}
.slideback-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Chat message transition */
.chat-enter-active,
.chat-leave-active {
    transition: opacity 500ms;
}

.chat-enter-from,
.chat-leave-to {
    opacity: 0;
}

/* Navbar transition */
.navbar-enter-active,
.navbar-leave-active {
    transition: transform 400ms, opacity 400ms;
}

.navbar-enter-from,
.navbar-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

/* Underline animation */
.hover-underline-animation,
.hover-underline-animation-orange {
    @apply inline-block relative;
}

.hover-underline-animation::after,
.hover-underline-animation-orange::after {
    @apply content-[''] absolute w-full scale-x-0 h-[1.5px] bottom-0 left-0 origin-left transition-all ease-in-out delay-100 duration-500;
}
.hover-underline-animation:hover::after {
    @apply bg-primary scale-x-100;
}

.hover-underline-animation-orange:hover::after {
    @apply bg-orange scale-x-100;
}
